<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Gen</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <% if(locals.qrCode){ %>
            <img src="<%= qrCode %>" alt="qrCode">
            <%}else{%>
                <h1>Please fill the form </h1>
                <%}%>
                    <form action="/generate" method="post">
                        <input type="text" name="url" id="url" placeholder="URL here">
                        <input type="submit" value="Generate">
                    </form>
    </div>
    <% if(locals.alert){ %>
        <p class="alert-mssg">
            <%= alert %>
        </p>
        <% } %>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="/behaviours/behave.js" charset="UTF-8" type="module"></script>
</body>

</html>